.text-white-50 {
    color: rgba(255, 255, 255, .5);
}

.bg-vw {
    background-color: rgba(93, 83, 102, 0.795);
}

.lh-100 {
    line-height: 1;
}

.lh-125 {
    line-height: 1.25;
}

.lh-150 {
    line-height: 1.5;
}