<div class="container">
    <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-4 pt-1">
                <a class="text-muted" routerLink="/dashboard">Virtual Wallet</a>
            </div>
            <div class="col-4 text-center">
                <img class="mb-4 blog-header-logo" src="assets/wallet.png" alt="" width="52" height="52" />
            </div>
            <div class="col-4 d-flex justify-content-end align-items-center">
                <a class="btn btn-sm btn-outline-secondary" href="#">Sign Out</a>
            </div>
        </div>
    </header>

    <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
            <a class="p-2 text-muted" routerLink="/dashboard">Dashboard</a>
            <a class="p-2 text-muted" routerLink="/history">History</a>
            <a class="p-2 text-muted" routerLink="/profile">Profile</a>
        </nav>
    </div>
</div>