<div class="register text-center">
    <form class="form-register">
        <img class="mb-4" src="assets/wallet.png" alt="" width="72" height="72" />
        <h1 class="h3 mb-3 font-weight-normal">Account Registration</h1>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control rounded-0 mb-1" placeholder="Email address" required autofocus>
        <label for="inputName" class="sr-only">Name</label>
        <input type="text" id="inputName" class="form-control rounded-0 mb-1" placeholder="Name" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control rounded-0 mb-1" placeholder="Password" required>
        <label for="inputConfirmPassword" class="sr-only">Confirm Password</label>
        <input type="password" id="inputConfirmPassword" class="form-control rounded-0 mb-3" placeholder="Confirm Password" required>
        <button class="btn btn-lg btn-dark btn-block mb-3 text-uppercase rounded-0" type="submit">Sign Up</button>
        <div class="checkbox mb-3">
            <label>Already have an account? 
          <a routerLink="/login" class="text-white"> Sign In</a>
        </label>
        </div>
        <p class="mt-5 mb-3 text-muted">&copy; 2019</p>
    </form>
</div>